[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/krkrz/freetype.git
	ignore = dirty
[submodule "external/onig"]
	path = external/onig
	url = https://github.com/krkrz/oniguruma.git
	ignore = dirty
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/krkrz/zlib.git
	ignore = dirty
